{% extends "admin/base.html.twig" %}

{% block title %}Modification du Focus Ville numéro
	{{focusville.id}}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1>Modification de l'annonce
			{{focusville.title}}</h1>

		{{ form_start(form)}}
		<div class="row">
			<div class="col">
				<div class="card bg-light">
					<div class="card-header">
						<h4 class="card-title">Corriger l'annonce ?</h4>
					</div>
					<div class="card-body">
						{{ form_widget(form)}}
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check"></i>
                            Valider modifications
                        </button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-light">
					<div class="card-header">
						<h4 class="card-title">Focus Ville</h4>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Focus Ville</th>
									<th>Actions</th>
								</tr>
							</thead>
                            <tbody>
                            {% for focslieu in focusville.focusLieus %}
                                        
                                <tr>
                                    <td>{{focslieu.id}}</td>
                                    <td>{{focslieu.title}}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                                 {% endfor %}
                            </tbody>
						</table>
					</div>
				</div>


				<div class="card bg-light">
					<div class="card-header">
						<h4 class="card-title">Favoris</h4>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Voyageur</th>
									<th>Date de mise en Favoris</th>
									<th>Actions</th>
								</tr>
							</thead>
                            <tbody>
                            {# {% for favoris in focusville.favoris %} ici on mettra les favoris par annonces #}
                                        
                                <tr>
                                    <td>id de favoris</td>
                                    <td>nom du voyageur</td>
                                    <td>date de mise en favoris {# | date('d/m/Y H:i') filtre de date a mettre en place #}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                                 {# {% endfor %} #}
                            </tbody>
						</table>
					</div>
				</div>


				<div class="mt-5 card bg-light">
					<div class="card-header">
						<h4 class="card-title">Commentaires</h4>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Voyageur</th>
									<th>Note</th>
									<th>Commentaire</th>
									<th>Actions</th>
								</tr>
							</thead>
                            <tbody>
                            {% for comment in focusville.comments %}
                                        
                                <tr>
                                    <td>{{comment.id}}</td>
                                    <td>{{comment.author.fullName}}</td>
                                    <td>{{comment.rating}}</td>
                                    <td>{{comment.content}}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                                 {% endfor %}
                            </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		{{ form_end(form)}}

	</div>

{% endblock %}
